<% include partials/header%>

<h1>Landing page!</h1>

<p>Welcome to YelpCamp!</p>

<a href="/campgrounds">View all campgrounds!</a>
<br>
<a href="/campgrounds/new">Add a new campground!</a>

<% include partials/footer%>
